@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('./notokr/notokr-light.eot');
  src: url('./notokr-light.eot?#iefix') format('embedded-opentype'),
  url('./notokr-light.woff2') format('woff2'),
  url('./notokr-light.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('./notokr/notokr-regular.eot');
  src: url('./notokr-regular.eot?#iefix') format('embedded-opentype'),
  url('./notokr-regular.woff2') format('woff2'),
  url('./notokr-regular.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('./notokr/notokr-medium.eot');
  src: url('./notokr-medium.eot?#iefix') format('embedded-opentype'),
  url('./notokr-medium.woff2') format('woff2'),
  url('./notokr-medium.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('./notokr/notokr-bold.eot');
  src: url('./notokr-bold.eot?#iefix') format('embedded-opentype'),
  url('./notokr-bold.woff2') format('woff2'),
  url('./notokr-bold.woff') format('woff');
}