/* SanFrancisco Display */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 100;
  src: url('./SanFranciscoDisplay-Light.eot');
  src: url('./SanFranciscoDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('./SanFranciscoDisplay-Light.woff2') format('woff2'),
  url('./SanFranciscoDisplay-Light.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  src: url('./SanFranciscoDisplay-Regular.eot');
  src: url('./SanFranciscoDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('./SanFranciscoDisplay-Regular.woff2') format('woff2'),
  url('./SanFranciscoDisplay-Regular.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  src: url('./SanFranciscoDisplay-Medium.eot');
  src: url('./SanFranciscoDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('./SanFranciscoDisplay-Medium.woff2') format('woff2'),
  url('./SanFranciscoDisplay-Medium.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  src: url('./SanFranciscoDisplay-Bold.eot');
  src: url('./SanFranciscoDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('./SanFranciscoDisplay-Bold.woff2') format('woff2'),
  url('./SanFranciscoDisplay-Bold.woff') format('woff');
}

/* SanFrancisco Text */
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 100;
  src: url('./SanFranciscoText-Light.eot');
  src: url('./SanFranciscoText-Light.eot?#iefix') format('embedded-opentype'),
  url('./SanFranciscoText-Light.woff2') format('woff2'),
  url('./SanFranciscoText-Light.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 300;
  src: url('./SanFranciscoText-Regular.eot');
  src: url('./SanFranciscoText-Regular.eot?#iefix') format('embedded-opentype'),
  url('./SanFranciscoText-Regular.woff2') format('woff2'),
  url('./SanFranciscoText-Regular.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  src: url('./SanFranciscoText-Medium.eot');
  src: url('./SanFranciscoText-Medium.eot?#iefix') format('embedded-opentype'),
  url('./SanFranciscoText-Medium.woff2') format('woff2'),
  url('./SanFranciscoText-Medium.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  src: url('./SanFranciscoText-Bold.eot');
  src: url('./SanFranciscoText-Bold.eot?#iefix') format('embedded-opentype'),
  url('./SanFranciscoText-Bold.woff2') format('woff2'),
  url('./SanFranciscoText-Bold.woff') format('woff');
}