@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption,.footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin: 0;padding: 0;border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
ol, ul{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
a{text-decoration: none;}

/* common */
.clearfix:after{content: '';display: block;clear: both;}
.hide{position: absolute;top: -9999px;left: -9999px;}
.hide-2{display: block;text-indent: -9999px;}
.dot__item{position: relative;margin-bottom: 6px;padding-left: 10px;color: #666;}
.dot__item:before{content: '';position: absolute;top: 8px;left: 0;width: 2px;height: 2px;background-color: #666;border-radius: 100%;}

/* title */
.main-title__text{position: relative;padding: 50px 0 60px;font-family: 'SF Pro Display';font-size: 1.875em;color: #ff0073;}
.main-title__text:after{content: '';position: absolute;top: 105px;left: 0;width: 30px;height: 1px;background-color: #ff0073;}
.sub-title{margin-bottom: 30px;font-family: 'SF Pro Display';}

/* button */
.btn-scroll{position: absolute;left: 50%;bottom: 3%;width: 40px;height: 70px;border: 1px solid #ff0073;border-radius: 25px;transform: translate(-50%, -50%);}
.btn-scroll:before{content: '';position: absolute;margin-left: -4px;top: 8px;left: 50%;width: 8px;height: 8px;background-color: #ff0073;border-radius: 4px;animation-duration: 1.5s;animation-iteration-count: infinite;animation-name: scroll;}
.btn-view{position: absolute;top: 50%;left: 50%;padding-right: 28px;text-align: center;font-weight: bold;color: #fff;transform: translate(-50%, -50%);}
.btn-view:before{content: '';position: absolute;top: 0;right: 0;width: 18px;height: 19px;background: url("../images/icon_arrow-right.png") center center no-repeat;background-size: cover;fill: #fff;}
.top-btn-wrap{display: none;z-index: 30;position: fixed;right: 50px;bottom: 80px;background-color: #ff0073;}
.top-btn{width: 55px;height: 55px;background: url("../images/icon_top.png") center center no-repeat;}

/* layout */
.wrap{position: relative;font-family: 'SF Pro Text', sans-serif;}
.header{position: fixed;top: 0;z-index: 30;width: 100%;}
.main{position: relative;z-index: 20;margin-top: 79px;}
.section{padding-bottom: 100px;}
.section:first-child{padding-bottom: 0;}
.container{margin: 0 auto;padding: 0 40px;max-width: 1280px;}
.footer{z-index: 10;}

/* header */
.header{padding: 20px 0;background-color: #fff;}
.header.active{box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);}
.logo{float: left;}
.logo__link{font-family: 'SF Pro Display';color: #ff0073;}
.mobile-gnb{display: none;position: fixed;top: 25px;right: 30px;z-index: 50;width: 30px;height: 21px;transition: opacity .25s ease;}
.mobile-gnb i{position: absolute;left: 0;width: 100%;height: 2px;background-color: #ff0073;transition: all .35s ease;}
.mobile-gnb__second{top: 9px;}
.mobile-gnb__third{bottom: 0;}
.mobile-gnb.active .mobile-gnb__first{transform: translateY(9px) translateX(0) rotate(45deg);}
.mobile-gnb.active .mobile-gnb__second{opacity: 0;}
.mobile-gnb.active .mobile-gnb__third{transform: translateY(-10px) translateX(0) rotate(-45deg);}
.nav{float: right;}
.nav__gnb-item{float: left;}
.nav__gnb-link{position: relative;padding: 10px 20px;font-family: 'SF Pro Display';font-size: 1.25em;color: #222;line-height: 39px;}
.nav__gnb-link:hover{color: #ff0073;}
.nav__gnb-link:after {content: '';position: absolute;bottom: 0;left: 0;right: 0;height: 3px;background-color: #ff0073;transform: scaleX(0);}
.nav__gnb-link.active:after {transform: scaleX(1);transition: 0.2s;}

/* home */
.home{position: relative;background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0)), url("../images/bg_main.jpg") 50% 50% no-repeat;background-attachment: scroll;background-size: contain;}
.home-title{position: absolute;top: 50%;left: 50%;text-align: center;white-space: nowrap;transform: translate(-50%, -50%);}
.home-title__rotate{color: #ff0073;font-size: 3.5em;font-weight: bold;}

/* about */
.about{position: relative;background-color: #f6f6f6;}
.about__profile{margin-bottom: 70px;}
.about__img{float: left;width: 150px;}
.about__wrap{float: left;margin-left: 30px;}
.about__personal-item:first-child{font-size: 1.25em;color: #222;}
.about__personal-item:nth-child(2){margin-bottom: 40px;}
.about__personal-item, .about__personal-link{line-height: 1.6;color: #666;}
.about__personal-link:hover{text-decoration: underline;}
.about__item-wrap{margin-bottom: 30px;}
.about__item{float: left;min-width: 220px;margin-bottom: 40px;}
.about__date{margin-top: 20px;color: #666;}

/* portfolio */
.portfolio__list{margin-left: -16px;margin-right: -16px;}
.portfolio__item{float: left;width: calc(33.333% - 32px);margin-bottom: 50px;margin-left: 16px;margin-right: 16px;}
.portfolio__img-wrap{position: relative;overflow: hidden;margin-bottom: 30px;box-shadow: 0 0 10px rgba(0, 0, 0, .2);}
.portfolio__img-wrap:before{content: '';position: absolute;top: 0;left: 0;right:0;bottom:0;background-color: #000;opacity:0;}
.portfolio__img-wrap:hover:before{transition:opacity .2s ease-out;opacity:.5;}
.portfolio__img-wrap:hover .portfolio__view{height: auto;transition:opacity .2s ease-out;opacity:1;}
.portfolio__img{display: block;width: 100%;}
.portfolio__view{position: absolute;overflow: hidden;top: 0;left: 0;bottom: 0;width: 100%;height: 0;opacity:0;}
.portfolio__info{height: 200px;}
.portfolio__name-wrap{margin-bottom: 10px;}
.portfolio__name{margin-bottom: 6px;font-family: 'SF Pro Display';}
.portfolio__date{color:#999;}
.portfolio__desc{margin-bottom: 10px;font-size: .8em;line-height: 1.4;color: #222;}
.portfolio__info-item{margin-bottom: 5px;font-size: .8em;font-weight: bold;line-height: 1.3;}

/* footer */
.footer{padding: 41px 0 20px;background-color: #858585;text-align: center;}
.footer__copyright{color: #fff;}

/* Animation */
@keyframes scroll {
  0%{opacity: 1;}
  100%{opacity: 0;transform: translateY(46px);}
}

/* Media Query */
@media screen and (max-width: 768px){ /*Tablet Size*/
  .btn-scroll{display: none;}
  .portfolio__item{width: calc(50% - 32px);}
  .top-btn-wrap{right: 40px;bottom: 40px;}
}

@media screen and (max-width: 480px){ /*Mobile Size*/
  .container{padding: 0 20px;}
  .logo{float:none;text-align: center;}
  .mobile-gnb{display: block;}
  .nav{float:none;position: fixed;top: -100%;left: 0;z-index: 40;width: 100%;height: 100%;text-align: center;background-color: #f6f6f6;opacity: 0;transition: 0.3s;}
  .nav__gnb{position: absolute;top: 50%;width: 100%;transform: translateY(-50%);}
  .nav__gnb-item{float: none;margin-bottom: 50px;}
  .nav__gnb-link{font-size: 2.5em;}
  .nav__gnb-link:hover{color: #000;}
  .nav__gnb-link:after{display: none;}
  .home-title__rotate{font-size: 2em;}
  .about__img{float: none;margin-bottom: 10px;}
  .about__wrap{float: none;margin-left: 0;}
  .about__item{float: none;width: 100%;}
  .portfolio__list{margin-left: 0;margin-right: 0;}
  .portfolio__item{width: 100%;margin-left: 0;margin-right: 0;}
}